.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
db.sqlite3
.env
.venv
venv/
ENV/
env/
.git/
.gitignore
.DS_Store
static/
staticfiles/
media/
*.log
pytest_cache/
.coverage
htmlcov/
.pytest_cache/
README.md
flake8