{% autoescape off %}
Здравствуйте!

Вы получили это письмо потому, что запросили восстановление пароля для вашей учетной записи на сайте {{ site_name }}.

Пожалуйста, перейдите по следующей ссылке чтобы установить новый пароля:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Ваше имя пользователя: {{ user.get_username }}

Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.

С уважением,
Команда {{ site_name }}
{% endautoescape %}